USE [master]
GO
/****** Object:  Database [BDPractica]    Script Date: 21/9/2023 18:30:18 ******/
CREATE DATABASE [BDPractica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPractica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPractica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPractica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPractica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPractica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPractica]
GO
/****** Object:  User [Castigada]    Script Date: 21/9/2023 18:30:18 ******/
CREATE USER [Castigada] FOR LOGIN [Castigada] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Castigada]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/9/2023 18:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Nombre] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Nombre], [Contraseña], [id], [Email]) VALUES (N'teglus', N'123', 1, N'teglus@gmail.com')
INSERT [dbo].[Usuario] ([Nombre], [Contraseña], [id], [Email]) VALUES (N'fulco', N'321', 2, N'fulco@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
